<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="bc">
    <div class="align">
   <div class="example-card">
    <mat-card >
        <mat-card-title  class="Heading" >News App</mat-card-title> 
        <small>A trusted source of News</small>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Login">
                <div class="align">
                <form class="example-form" [formGroup]="jobLogin">
                  <small class="error-msg">{{errorMsg}}</small><br>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email" >
                      <mat-error>
                        <span class="error" *ngIf="jobRegister.get('email')?.hasError('required')">Email is required</span>
                      </mat-error>                    
                    </mat-form-field><br>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password">
                        <mat-error>
                          <span class="error" *ngIf="jobRegister.get('password')?.hasError('required')">Password is required</span>
                          <span class="error" *ngIf="jobRegister.get('password')?.hasError('minLength')">Password should be atleast 8 characters</span>
                          <span class="error" *ngIf="jobRegister.get('password')?.hasError('maxLength')">Password should be atmost 15 characters</span>
                          <span class="error" *ngIf="jobRegister.get('password')?.hasError('pattern')">Password must contain bold, small, number and symbol</span>
                        </mat-error>
                      </mat-form-field>
                  
                  
                  </form>

                  <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!this.jobLogin.valid">Login</button>
                  </div>
                  

            </mat-tab>
            <mat-tab label="Register">
                <div class="align">
                    <form class="example-form" [formGroup]="jobRegister">
                      <small class="error-msg">{{errorMsg}}</small><br>
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>First Name</mat-label>
                          <input matInput formControlName="firstName">
                          <mat-error>
                            <span class="error" *ngIf="jobRegister.get('firstName')?.hasError('required')">First Name is required</span>
                          </mat-error>
                        </mat-form-field><br>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName">
                            <mat-error>
                              <span class="error" *ngIf="jobRegister.get('lastName')?.hasError('required')">Last Name is required</span>
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Email Id</mat-label>
                            <input matInput formControlName="email">
                            <mat-error>
                              <span class="error" *ngIf="jobRegister.get('email')?.hasError('required')">Email is required</span>
                            </mat-error>                          </mat-form-field>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" type="password">
                            <mat-error>
                              <span class="error" *ngIf="jobRegister.get('password')?.hasError('required')">Password is required</span>
                              <span class="error" *ngIf="jobRegister.get('password')?.hasError('minLength')">Password should be atleast 8 characters</span>
                              <span class="error" *ngIf="jobRegister.get('password')?.hasError('maxLength')">Password should be atmost 15 characters</span>
                              <span class="error" *ngIf="jobRegister.get('password')?.hasError('pattern')">Password must contain bold, small, number and symbol</span>
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput formControlName="confirmPassword" type="password">
                            <mat-error>
                              <span class="error" *ngIf="jobRegister.get('confirmPassword')?.hasError('required')">Confirm Password is required</span>
                              <span class="error" *ngIf="jobRegister.get('confirmPassword')?.hasError('notEqualToPassword')">Enter same passwords</span>
                            </mat-error>
                          </mat-form-field>
                      
                      </form>
    
                      <button mat-raised-button color="accent" (click)="registerUser()" [disabled]="!this.jobRegister.valid">Register</button>
                      </div>
                      
                
            </mat-tab>
            
          </mat-tab-group>
    </mat-card>
    
</div>
   </div>
      
</body>
</html>
